<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
    <head>
        <title>{{ .Title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="og:title" property="og:title" content="PsyLink">
        <meta name="description" content='An open source neural interface armband based on reading muscle signals.'>
        <link rel="shortcut icon" type="image/png" href="{{ "favicon.ico" | relURL }}">
        <link rel="stylesheet" href="{{ "style.css" | relURL }}" type="text/css" />
    </head>
    <body>
        <header>
            <div class="content">
                <a href="{{ "/" | relURL }}{{ partial "index" }}">
                    <img class="logo" src="{{ "favicon.ico" | relURL }}" alt="" />
                    <span class="header">PsyLink</span>
                </a>
                <nav>
                    <a href="{{ "blog" | relURL }}/{{ partial "index" }}">Blog</a>
                    <a href="{{ "prototypes" | relURL }}/{{ partial "index" }}">Prototypes</a>
                    <span class="parts">
                        Parts
                        <div class="dropdown-content">
                            <a href="{{ "circuits" | relURL }}/{{ partial "index" }}">Circuits</a><br />
                            <a href="{{ "boards" | relURL }}/{{ partial "index" }}">Boards</a><br />
                            <a href="{{ "textiles" | relURL }}/{{ partial "index" }}">Textiles</a><br />
                            <a href="{{ "software" | relURL }}/{{ partial "index" }}">Software</a><br />
                        </div>
                    </span>
                    <span class="parts">
                        <a href="https://codeberg.org/psylink/psylink">Source</a>
                        <div class="dropdown-content">
                            <a href="https://codeberg.org/psylink/psylink/src/branch/master/schematics/power_module4.2">Power&nbsp;Module</a><br />
                            <a href="https://codeberg.org/psylink/psylink/src/branch/master/schematics/electrode_module3.3">Electrode&nbsp;Module</a><br />
                            <a href="https://codeberg.org/psylink/psylink-web">Website</a><br />
                            <a href="https://codeberg.org/psylink/psylink-datasets">Datasets</a><br />
                            <a href="https://codeberg.org/psylink/psylink-3dprint">3D&#8209;Printing</a><br />
                        </div>
                    </span>
                    <a href="https://codeberg.org/psylink/psylink/wiki">Wiki</a>
                    <a href="{{ "faq" | relURL }}/{{ partial "index" }}">FAQ</a>
                    <a href="/index.xml"><img src="{{ "feed-icon.png" | relURL }}" class="rss" alt="RSS" /></a>
                    <a href="https://fosstodon.org/@psylink"><img src="{{ "mastodon-icon.svg" | relURL }}" class="rss" alt="Mastodon" /></a>
                </nav>
            </div>
        </header>
        {{ block "basecontent" . }}
        <main class="default">
            {{ block "preface" . }}{{ end }}
            <div class="pad-content">
                {{ block "main" . }}{{ end }}
            </div>
        </main>
        {{ end }}
    </body>
</html>
