{{ define "basecontent" }}
    <main class="frontpage">
        <div class="card card1">
            <div class="container1">
                <div class="item punchline punchline1">
                    <span class="center">
                        Reimagine<br />
                        Neural Interfaces<br />
                        <a href="/get" class="button">Get PsyLink</a>
                    </span>
                </div>
                <div class="item banner">
                    <a href="/get"><img src="/img/prototypes/p10.jpg" class="banner" alt="Get PsyLink" /></a>
                </div>
            </div>
        </div>
        <div class="card card2">
            <div class="container1">
                <div class="item video">
                    <div class="center-vertical">
                        <div class="aspectratio video-iframe-container">
                            <div class="video-fallback-text">
                                If the demo video doesn't load, you can view it directly on <a href="https://peertube.linuxrocks.online/w/vELMqkNxjVWzxUj1f7eCeX">PeerTube</a>
                            </div>
                            <iframe width="560" height="315" sandbox="allow-same-origin allow-scripts allow-popups" title="PsyLink 8 - Open Source Neural Interface" src="https://peertube.linuxrocks.online/videos/embed/f042e209-f3fd-4b92-8295-f91e8c46e861" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="item punchline punchline2">
                    <span class="center">
                        Wireless electrode armband to<br />
                        control games, make music,<br />
                        and endless more possibilities.<br />
                        <a href="https://peertube.linuxrocks.online/video-channels/psylink/videos" class="button">More videos</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card card3">
            <center class="punchline punchline3">
                Take back control &mdash; PsyLink is open source, free software and open hardware.
            </center>
            <div class="container3">
                <div class="item">
                    <a href="/boards"><img src="/img/boards/bp3.png" alt="View PsyLink circuit boards" /></a>
                </div>
                <div class="item">
                    <a href="/circuits"><img src="/img/circuits/c9.1.png" alt="View PsyLink circuit schematics" /></a>
                </div>
                <div class="item">
                    <a href="/software"><img src="/img/software/s3.png" alt="View PsyLink software" /></a>
                </div>
                <div class="item">
                    <a href="/textiles"><img src="/img/blog/2021-05-12_electrode_map.jpg" alt="View PsyLink textiles" /></a>
                </div>
            </div>
            <br />
            <br />
            <br />
            <center class="punchline punchline3">
                <a href="/blog">Blog</a> &mdash; <a href="/faq">FAQ</a> &mdash; <a href="https://codeberg.org/psylink/psylink">git</a> &mdash; <a rel="me" href="https://fosstodon.org/@psylink">Mastodon</a> &mdash; <a href="https://matrix.to/#/#psylink:matrix.org">Matrix</a>
            </center>
        </div>
    </main>
{{ end }}
