:root {
    --logo-fg: #37c837;
    --body-bg: url("bg.png"), black;
    --main-border: #004c00;
    --main-bg: #101010;
    --main-fg: #ccc;
    --main-fg-dim: #666;
    --main-link: #8af;
    --alt-bg: #232428;
    --header-bg: #000;
    --header-fg: #fff;
    --header-border: #777;
    --header-link: #fff;
}
@font-face {
    font-family: "KoHo";
    src: url("KoHo-Medium.ttf");
}
html {
    min-height: 100vh;
    margin: 0;
}
hr {
    border: 0px hidden black;
    border-bottom: 1px dashed var(--header-border);
}
body {
    background: var(--body-bg);
    background-attachment: fixed;
    color: var(--main-fg);
    font-family: KoHo;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}
b, strong {
    color: #fff;
}
/*************************/
/* HEADER */
header {
    background: var(--header-bg);
    padding: 5pt 5pt;
    box-shadow: 0 0 2pt var(--header-border);
    flex: 0 1 auto;
    z-index: 2;
}
header .content {
    max-width: 75ch;
    margin: 0 auto;
}
header .logo {
    width: 32pt;
    height: 32pt;
    margin-bottom: -6pt;
    border-radius: 0;
}
header .header {
    font-size: 28pt;
    color: var(--logo-fg);
}
header a, header a:visited {
    text-decoration: none;
}

/*************************/
/* NAVIGATION */
header nav {
    display: inline;
    padding-left: 10pt;
    font-size: 115%;
}
header nav .right {
    float: right;
}
header nav a, header nav a:visited, header nav .parts {
    padding: 0 6pt;
    line-height: 1.75;
    color: var(--header-link);
    font-weight: bold;
}
header nav .parts {
    position: relative;
    display: inline-block;
}
header nav .parts .dropdown-content {
    display: none;
    position: absolute;
    background: var(--header-bg);
    box-shadow: 0 0 2pt var(--header-border);
    padding: 10pt;
    margin: 0;
    z-index: 2;
}
header nav .parts:hover .dropdown-content {
    display: block;
}
header nav .rss {
    height: 14pt;
    width: 14pt;
    border-radius: 0;
}
.paginator {
    text-align: center;
}

/*************************/
/* FRONTPAGE */
main.frontpage {
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-bg);
}
main.frontpage .banner {
    flex-grow: 1;
    flex-basis: 600px;
}
main.frontpage .banner img {
    width: 100%;
}
main.frontpage .video {
    flex-grow: 2;
    min-height: 100px;
}
main.frontpage .video iframe {
    width: 100%;
}
.punchline {
    font-weight: bold;
    flex-grow: 1;
    font-family: sans-serif;
    /*border: 1px solid red;*/
}
.punchline1 {
    font-size: 250%;
    flex-grow: 1;
    padding-bottom: 0.6em;
}
.punchline1 .line {
    width: 55%;
    box-shadow: 0 0 8pt var(--logo-fg);
    border: 3pt solid var(--logo-fg);
}
.punchline1 .button {
    font-size: 70%;
}
.punchline2 {
    padding: 1em;
    font-size: 150%;
}
.punchline3 {
    font-size: 150%;
    text-align: center;
    padding-bottom: 1em;
}
.punchline .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    flex-direction: column;
}
main.frontpage .card {
    padding: 20pt;
}
.button {
    background-color: var(--logo-fg);
    font-family: sans-serif;
    text-decoration: none !important;
    color: #000 !important;
    padding: 0.2em 0.6ch;
    border-radius: 0.4em;
    margin: 0.6em 0.2em;
    box-shadow: 0 0 8pt var(--logo-fg);
    transition: 0.4s;
}
.button:hover {
    box-shadow: 0 0 100pt rgba(0,0,0,0);
}
main.frontpage .card1 {
    /* Gradient background? */
    /*
    background-image: url(hex.png);
    background-position: 20px 40px;
    */
}
.aspectratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    min-width: 300px;
}
.center-vertical {
    height: 100%;
    flex: 1 1 auto;
}
.aspectratio iframe, .video-fallback-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.video-fallback-text {
    text-align: center;
    font-size: 120%;
    background-color: black;
}
.container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
main.frontpage .container1, main.frontpage .container3 {
    max-width: 200vh;
    margin: 0 auto;
}
main.frontpage .card2 {
    background-color: var(--alt-bg);
    padding: 20pt;
}
main.frontpage .card3 {
    background-color: var(--main-bg);
    padding-bottom: 13vh;
    /*
    background-image: url(hex.png);
    background-position: 20px 40px;
    */
}
main.frontpage .card3 .item {
    flex-grow: 1 1 0;
}
main.frontpage .card3 img {
    max-height: 200pt;
    padding: 0.6em;
    border-radius: 0.8em !important;
}

/*************************/
/* CONTENT */
main.default {
    flex: 1 1 auto;
    max-width: 100%;
    width: 80ch;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0em 0 3em 0;
    background-color: var(--main-bg);
    box-shadow: 0 0 100pt var(--main-border),
                0 0 20pt var(--main-border);
    z-index: 0;
}
main.default .pad-content {
    margin: 1em 0;
    padding: 0em 17pt 0em 17pt;
}
main h1 {
    margin-top: 0;
    padding-top: 14pt;
    color: white;
    font-size: 150%;
}
main h2 {
    font-size: 125%;
    color: white;
    text-decoration: underline;
}
main h3 {
    font-size: 100%;
    text-decoration: underline;
    font-weight: normal;
}
h1.posttitle {
    margin-bottom: 0;
    line-height: 90%;
}
span.postdate {
    margin-top: 0;
    padding-top: 0;
    font-size: 80%;
    margin: -2pt;
    color: #666;
    text-decoration: none;
}
span.postdate a {
    color: #55b !important;
}
div.post_delimiter {
    background: #004000;
    margin: 0 -17pt;
}
div.post_end, div.post_begins {
    background: var(--main-bg);
    padding: 20pt 0 0 0
}
div.post_end {
    border-radius: 0 0 20pt 20pt;
    margin-bottom: 7pt;
}
div.post_begins {
    border-radius: 20pt 20pt 0 0;
}
.legal {
    font-size: 80%;
    color: var(--main-fg-dim);
    text-align: justify;
    line-height: 0.95;
}
.abstract article {
    border: 3pt solid #363;
    background-color: #131;
    padding: 0 10pt;
    margin-bottom: 1em;
    font-size: 90%;
}
.abstract article p {
    margin: 5pt 0;
}
.preface {
    font-size: 90%;
    text-align: justify;
}
.toc {
    font-size: 95%;
    box-shadow: 1pt 1pt 3pt #aaa;
    border: 2px solid #aaa;
    border-radius: 5pt;
    padding: 0.5em 1em;
    margin: 1em;
    margin-bottom: 1em;
}
.bigtoc {
    position: relative;
    top: 0;
    right: -85ch;
    background-color: var(--main-bg);
}

main a, main a:visited {
    color: var(--main-link);
}
main a[href*="//"], nav a[href*="//"] {
    text-decoration-line: underline;
    text-decoration-style: double;
}
img, iframe {
    max-width: 100%;
    border-radius: 4pt;
    box-sizing: border-box;
}
table, td, tr {
    border-collapse: collapse;
}
.showcase {
    max-width: 35ch;
    display: inline-block;
    vertical-align: top;
    padding: 0 10pt;
}
.showcase > ul {
    list-style-type: none;
    padding: 0;
}
.showcase ul {
    margin: 0;
}
.showcase ul li {
    padding: 0;
}
.warning {
    color: #f99;
}

/*************************/
/* COLLAPSIBLE TABLE OF CONTENTS */
.collapsible-wrap > input[type="checkbox"] {
    display: none;
}
.collapsible-wrap > label {
    cursor: pointer;
    background: linear-gradient(0deg, #121 0%, #362 100%);
    color: white;
    font-weight: bold;
    padding: 6pt 15pt;
    display: block;
}
.collapsible-wrap > label::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}
.collapsible-wrap > input:checked + label::before {
    transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    background-color: #222;
    color: #fff;
    transition: max-height .25s linear;
}
.collapsible-wrap > input:checked + label + .collapsible-content {
    border-bottom: 1pt solid #444;
    max-height: 500vh;  /* TODO: this makes animations a little rough. Better solution? */
}
